@media screen and (max-width:768px) {
    nav {
        display: none;
        width: 100%;
        position: relative;
        margin-top: 32px;
    }
    nav a {
        /* width: 100%; */
        /* width: 70%; */
        /* margin-left: 32px; */
        /* margin: 16px; */
        margin: 4px;
        /* display: flex; */
        /* flex-wrap: wrap; */
        float: right;
        width: 51%;
        display: block;
        text-align: center;
        border-bottom: 1px solid black;
        background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    }
    .burger {
        display: block;
        margin: 16px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
    nav span{
        display: none;
    }
}